<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Assignment</title>
    <!-- Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/parallax-template/css/addAssignment.css">
</head>
<body>
    <div class="container">
        <h2>Add Assignment</h2>
        <form action="/saveAssignment" method="post">
            <div>
                <label for="userName">User Name:</label>
                <input type="text" id="userName" name="userName" required>
            </div>
            <div>
                <label for="flightNumber">Flight Number:</label>
                <input type="text" id="flightNumber" name="flightNumber" required>
            </div>
            <div>
                <label for="role">Role:</label>
                <input type="text" id="role" name="role" required>
            </div>
            <button type="submit" class="btn">Add Assignment</button>
        </form>
        <!-- Add Assignment button -->
        <div class="add-button">
            <a href="/allAssignments" class="btn">Back to All Assignments</a>
        </div>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
