<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="../static/parallax-template/logo.jpg" type="image/x-icon">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/parallax-template/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/parallax-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <body>
    <nav class="white" role="navigation">
      <nav class="nav-extended">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"><img src="../static/parallax-template/logo.jpg"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="flight_managerTH">Home</a></li>
            <li><a href="flights">Flights</a></li>
            <li th:unless="${loggedIn}" ><a href="login">Login</a></li>
            <li th:unless="${loggedIn}" ><a href="register">Register</a></li>
            <!-- Render logout link if logged in -->
            <li th:if="${loggedIn}" ><a href="logout">Logout</a></li>
            <li th:if="${isUser}" ><a href="reservations">Reservations</a></li>
            <li th:if="${isCrew}" ><a href="assignments">Assignments</a></li>
            <li th:if="${isAdmin}" ><a href="users">Users</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="flight_managerTH">Home</a></li>
            <li class="tab"><a href="flights">Flights</a></li>
            <li th:if="${isUser}"class="tab"><a href="reservations">Reservations</a></li>
            <li th:if="${isCrew}" class="tab" ><a href="assignments">Assignments</a></li>
            <li th:if="${isAdmin}" class="tab" ><a href="users">Users</a></li>
          </ul>
        </div>
      </nav>
    </nav>
  
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Flight Manager</h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern web aplication for flight management</h5>
        </div>
        <div class="row center">
          <li th:if="${isUser}" > <a href="reservations" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../static/parallax-template/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>



  


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/parallax-template/js/materialize.js"></script>
  <script src="../static/parallax-template/js/init.js"></script>

  </body>
</html>
