<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Parallax Template - Materialize</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/parallax-template/logo.jpg" type="image/x-icon">
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/parallax-template/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/parallax-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <link rel="stylesheet" type="text/css" href="../static/parallax-template/css/reservations.css">
</head>
<body>
    <nav class="white" role="navigation">
        <nav class="nav-extended">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img src="../static/parallax-template/logo.jpg"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="home">Home</a></li>
              <li th:unless="${isCrew}"><a href="flights">Flights</a></li>
              <li th:unless="${loggedIn}" ><a href="login">Login</a></li>
              <li th:unless="${loggedIn}" ><a href="register">Register</a></li>
              <!-- Render logout link if logged in -->
              <li th:if="${loggedIn}" ><a href="logout">Logout</a></li>
              <li th:if="${isUser}" ><a href="reservations">Reservations</a></li>
              <li th:if="${isCrew}" ><a href="assignments">My Assignments</a></li>
              <li th:if="${isAdmin}" ><a href="users">Users</a></li>
              <li th:if="${isAdmin}" ><a href="airline">Airlines</a></li>
              <li th:if="${isAdmin}" ><a href="allAssignments">Assignments</a></li>
            </ul>
          </div>
          <div class="nav-content">
            <ul class="tabs tabs-transparent">
              <li class="tab"><a class="active" href="home">Home</a></li>
              <li th:unless="${isCrew}" class="tab"><a href="flights">Flights</a></li>
              <li th:if="${isUser}"class="tab"><a href="reservations">Reservations</a></li>
              <li th:if="${isCrew}" class="tab" ><a href="assignments">My Assignments</a></li>
              <li th:if="${isAdmin}" class="tab" ><a href="users">Users</a></li>
              <li th:if="${isAdmin}" class="tab" ><a href="airline">Airlines</a></li>
              <li th:if="${isAdmin}" class="tab" ><a href="allAssignments">Assignments</a></li>
            </ul>
          </div>
        </nav>
      </nav>
    

    <!-- Display filtered flights -->
    <div class="container">
        <div class="section table-section">
            <div class="scrollable-table">
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Flight Number</th>
                            <th>Departure Time</th>
                            <th>Arrival Time</th>
                            <th>Source Airport</th>
                            <th>Destination Airport</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="flight : ${flights}">
                            <td th:text="${flight.flightNumber}"></td>
                            <td th:text="${flight.departureTime}"></td>
                            <td th:text="${flight.arrivalTime}"></td>
                            <td th:text="${flight.sourceAirportCode}"></td>
                            <td th:text="${flight.destinationAirportCode}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- JavaScript and other scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
