<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Parallax Template - Materialize</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/parallax-template/logo.jpg" type="image/x-icon">
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/parallax-template/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/parallax-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <style>
        /* CSS for table scrolling */
        .scrollable-table {
            max-height: 400px; /* Set your desired max height */
            overflow-y: auto;
        }

        /* Adjust table margin */
        .table-section {
            margin-top: 20px; /* Adjust as needed */
        }
    </style>
</head>
<body>
    <nav class="white" role="navigation">
        <nav class="nav-extended">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img src="../static/parallax-template/logo.jpg"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="flight_managerTH">Home</a></li>
              <li><a href="flights">Flights</a></li>
              <li th:unless="${loggedIn}" ><a href="login">Login</a></li>
              <li th:unless="${loggedIn}" ><a href="register">Register</a></li>
              <!-- Render logout link if logged in -->
              <li th:if="${loggedIn}" ><a href="logout">Logout</a></li>
              <li th:if="${loggedIn}" ><a href="reservations">Reservations</a></li>
              <li th:if="${isCrew}" ><a href="assignments">Assignments</a></li>
              <li th:if="${isAdmin}" ><a href="users">Users</a></li>
            </ul>
          </div>
          <div class="nav-content">
            <ul class="tabs tabs-transparent">
              <li class="tab"><a class="active" href="flight_managerTH">Home</a></li>
              <li class="tab"><a href="flights">Flights</a></li>
              <li class="tab"><a href="reservations">Reservations</a></li>
              <li th:if="${isCrew}" class="tab" ><a href="assignments">Assignments</a></li>
              <li th:if="${isAdmin}" class="tab" ><a href="users">Users</a></li>
            </ul>
          </div>
        </nav>
      </nav>

    <!-- Display filtered flights -->
    <div class="container">
        <div class="section table-section">
            <div class="scrollable-table">
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Actions</th> <!-- New column for actions -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${allUsers}">
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.role}"></td>
                            <td>
                                <form th:action="@{'users/deleteUser/' + ${user.id}}" method="post">  
                                    <button type="submit" class="btn waves-effect waves-light">Delete</button>
                                </form>
                                <form th:action="@{'updateUser/' + ${user.id}}" method="get">  
                                    <button type="submit" class="btn waves-effect waves-light">Update</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- JavaScript and other scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
